{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
<title>Car detail page</title>
{% endblock %}

{% block script %}
<script src="{% static 'cars_project/js/gethexcolor.js' %}"></script>
{% endblock %}

{% block body %}
    <header>
        <h1>Car detail</h1>
    </header>

    <div class="massive-div">
        <div class="car-id-div">
            CAR_ID:
            <span> {{ car.uid }} </span>
        </div>
        <div class="car-img-div">
            <img src="{{ car.car_img.url }}" >

        </div>
        <div class="all-cars-div">
            <div class="form-brand-div">
                Brand
                <div class="form-brand-value-div">
                    <img src="{{ car.get_car_logo.url }}" >
                    {{ car.brand }}
                </div>
            </div>
            <div class="form-price-paint-tires-trim-div">
                PRICE
                <div class="form-price-paint-tires-trim-value-div">
                    {{ car.price }}
                </div>
            </div>
            <div class="form-price-paint-tires-trim-div">
                PAINT
                <div class="form-paint-value-div">
                    <div id="paint" >&nbsp</div>

                </div>
            </div>
            <div class="form-price-paint-tires-trim-div">
                TIRES
                <div class="form-price-paint-tires-trim-value-div">
                    {{ car.attributes.tires }}
                </div>
            </div>
            <div class="form-price-paint-tires-trim-div">
                TRIM
                <div class="form-price-paint-tires-trim-value-div">
                    {{ car.attributes.trim }}
                </div>
            </div>
            <div class="form-sold-div">
                SOLD
                <div class="form-sold-value-div">
                    {% if car.sold %}
                        <img src="{% static 'cars_project/images/checkbox-checked-300px.png' %}" >
                    {% else %}
                        <img src="{% static 'cars_project/images/checkbox-unchecked-300px.png' %}" >
                    {% endif %}
                </div>
            </div>
        <form action="{% url 'car_form_edit' car_id=car.id %}">
            <button type="submit">Edit car</button>
        </form>

        </div>


    </div>
{% endblock %}
{% block pagescript %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', DrawPaint, false);
    function DrawPaint() {
        var el = document.getElementById("paint");
        console.log(el);
        el.style.backgroundColor = getHexColor("{{ car.attributes.get_paint_text }}");
    };
</script>
{% endblock %}