{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
<title>Start page</title>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'cars_project/js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $("#sort_table").tablesorter({sortList: [[0,0]]});
    $("#buttonClass").click(function(){getValueUsingClass();});
    });
</script>
{% endblock %}

{% block body %}
    <header>
        <h1>Car info site</h1>
    </header>
    {% if car_list %}
        <table id="sort_table" cellpadding="7" border="2" width="100%">
            <caption>Car list table</caption>
            <thead>
                <tr>
                    <th>UID </th>
                    <th>BRAND</th>
                    <th>PRICE</th>
                    <th>PAINT</th>
                    <th>TIRES</th>
                    <th>TRIM</th>
                    <th>SOLD</th>
                </tr>
            </thead>
            <tbody>
                {% for car in car_list %}
                    <tr>
                    <td><a href="{% url 'car_detail' car_id=car.id %}" >{{ car.uid }}</a></td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.attributes.paint }}</td>
                    <td>{{ car.attributes.tires }}</td>
                    <td>{{ car.attributes.trim }}</td>
                    <td>{{ car.sold }}
                    {% if not car.sold %}
                    <input type="checkbox" value="{{ car.id }}" name="sold" class="chk" id="id_sold">
                    {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
    {% else %}
        <div class="empty-db-message">
            <font class="error-style" > No records in database </font>
        </div>
    {% endif %}
    {% load staticfiles %}

        </table>
        <form action="{% url 'car_form' %}">
            <button type="submit">Create car</button>
        </form>
        <form method="POST">
            {% csrf_token %}
            <button type="sumbit" id="buttonClass" class="buttonClass" >Sell Car</button>
        </form>

{% endblock %}
{% block pagescript %}
<script type="text/javascript">
function getValueUsingClass(){
    /* declare an checkbox array */
    var chkArray = [];

    /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
    $(".chk:checked").each(function() {
        chkArray.push($(this).val());
    });

    /* we join the array separated by the comma */
    var selected;
    selected = chkArray.join(',') ;

    /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */
    if(selected.length > 0){
        alert("You have selected " + selected);
    }else{
        alert("Please at least check one of the checkbox");
    }
    $.post("/", { selected });

}
</script>

{% endblock %}



