{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
<title>Start page</title>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'cars_project/js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'cars_project/js/getvalueusingclass.js' %}"></script>
<script type="text/javascript" src="{% static 'cars_project/js/js.cookie.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $("#sort_table").tablesorter({sortList: [[0,0]]});
    $("#buttonSell").click(function(){SellCar();
        return false;});
    $("#buttonDel").click(function(){DeleteCar();
        return false;});
    });
</script>
{% endblock %}

{% block body %}
    <header>
        <h1>Car info site</h1>
    </header>
    {% if car_list %}
        <table id="sort_table" cellpadding="7" border="2" width="100%">
            <caption>Car list table</caption>
            <thead>
                <tr>
                    <th>UID </th>
                    <th>BRAND</th>
                    <th>PRICE</th>
                    <th>PAINT</th>
                    <th>TIRES</th>
                    <th>TRIM</th>
                    <th>SOLD</th>
                </tr>
            </thead>
            <tbody>
                {% for car in car_list %}
                    <tr id="{{ car.id }}">
                    <td><a href="{% url 'car_detail' car_id=car.id %}" >{{ car.uid }}</a></td>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.price }}</td>
                    <td>{{ car.attributes.paint }}</td>
                    <td>{{ car.attributes.tires }}</td>
                    <td>{{ car.attributes.trim }}</td>
                    <td>{{ car.sold }}
                    {% if not car.sold %}
                    <input type="checkbox" value="{{ car.id }}" name="sold" class="chk">
                    {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
    {% else %}
        <div class="empty-db-message">
            <font class="error-style" > No records in database </font>
        </div>
    {% endif %}
    {% load staticfiles %}

        </table>
        <form action="{% url 'car_form' %}">
            <button>Create car</button>
        </form>
        <form>
            <button id="buttonSell" >Sell Car</button>
            <button id="buttonDel" >Delete Car</button>
        </form>

{% endblock %}
{% block pagescript %}
<script type="text/javascript">
    function RemoveTable(){
    $(".chk:checked").each(function() {
        $(this).parent().parent().remove();
    });
    }
    function UpdateTable(){
    $(".chk:checked").each(function() {
        $(this).parent().text("True");
    });
    }

    function SellCar(){
        chkArray = getValueUsingClass();
    var selected;
    selected = chkArray.join(", ") ;
    if(selected.length > 0){
        alert("You have selected to sell " + selected);
    }else{
        alert("Please at least check one of the checkbox");
    }
    console.log( {id_list : selected} )

    $.ajaxSetup({
        headers: { "X-CSRFToken": Cookies.get("csrftoken") }
    });

    $.ajax({
      url: "/",
      type: "POST",
      data: {
             "id_list" : selected,
             "update" : true
            },
      success: UpdateTable()
    })

}
    function DeleteCar(){
        chkArray = getValueUsingClass();
    var selected;
    selected = chkArray.join(", ") ;
    if(selected.length > 0){
        alert("You have selected to delete " + selected);
    }else{
        alert("Please at least check one of the checkbox");
    }
    console.log( {id_list : selected} )
    $.post("/", {id_list : selected, csrfmiddlewaretoken : "{{csrf_token}}"}, RemoveTable());
}
</script>

{% endblock %}



