{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
<title>Request info</title>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'cars_project/js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
    $("#sort_table").tablesorter({sortList: [[0,0]]});
    });
</script>
{% endblock %}

{% block body %}
    <header>
        <h1>Request info</h1>
    </header>
    <div class="tabl">
    {% if req_info %}
        <table id="sort_table" cellpadding="7" border="2">
            <caption>Request info</caption>
            <thead>
                <tr>
                    <th>USER </th>
                    <th>URL</th>
                    <th>POST_DATA</th>
                    <th>TIME</th>
                    <th>COOKIES</th>
                </tr>
            </thead>
            <tbody>
                {% for info in req_info %}
                    <tr>
                    <td>{{ info.user }}</td>
                    <td>{{ info.url }}</td>
                    <td class="td-size"> <span class="size"> {{ info.post_data }} </span></td>
                    <td>{{ info.time }}</td>
                    <td class="td-size"> <span class="size"> {{ info.http_cookie }} </span></td>
                    </tr>
                {% endfor %}
            </tbody>
    {% else %}
        <div class="empty-db-message">
            <font class="error-style" > No records in database </font>
        </div>
    {% endif %}
    </div>
    {% load staticfiles %}
{% endblock %}